@tailwind base;
@tailwind components;
@tailwind utilities;



.btn{
    
    font-size: 16px;
    font-family: CustomSansSerif, 'Lucida Grande', Arial, sans-serif;
    font-weight: 600;
}
.btn-outline {
    border-radius: 50px;
    font-style: normal;
    color: #000;
    text-decoration: none;
    border: 2px solid #333;
    border-radius: 16px;
    text-transform: uppercase;
    padding: 4px 12px;
    margin: 0 0 15px;
    background-color: #fff;
    cursor: pointer;
}
.btn-white {
    background-color: #fff;
    border: 2px solid #fff;

}
.btn-white-outline {
    border: 2px solid #fff;
}

.title-input{
    height: fit-content;
    height: 50px;
    font-size: 28px;
    font-weight: 600;
    outline: none;
}

.title-input::placeholder,.title-lable{
    font-size: 28px;
    color: #c6c6c6;
}
.title-lable{
    font-weight: 600;
    padding-right: 10px;
    border-right: 1px solid #c6c6c6;
    width: 90px;
}
.aurthor-input{
    height: fit-content;
    font-size: 14px;
    outline: none;
}

.aurthor-input::placeholder,.aurthor-lable,.description-lable{
    color: #c6c6c6;
    font-size: 14px;
}
.aurthor-lable{
    padding-right: 10px;
    border-right: 1px solid #c6c6c6;
    width: 89px;
}
.description-lable{
    padding-right: 10px;
    border-right: 1px solid #c6c6c6;
    width: 81px;
}


/* styles.css */
.quill-wrapper.focused{
    .ql-toolbar.ql-snow{
        border: none !important;
        display: block;
    }
   


}
.quill-no-border .ql-container {
    border: none !important;
    box-shadow: none; /* Remove box-shadow if any */

  
}
.ql-toolbar.ql-snow{
    border: none !important;
    display: none;
}
.quill-no-border .ql-editor {
    border: none !important;
}

.ql-editor.ql-blank::before {
    color: #c6c6c6 !important;
    font-style: normal !important;
    left: 8px !important;
    pointer-events: none;
    position: absolute;
    right: 15px;
}

